Process model for doing templates for Security Considerations

Background: discussion at IETF 124: session 1
[ML link](https://mailarchive.ietf.org/arch/msg/rats/tBlKL-SXLrfoGpnlK2S6LgOS5ME/)

> The IETF ROLL WG deals with Routing Over Low-power Lossy networks.
> RFC6550 ("RPL", pronounced ripple, like the Grateful Dead song) did not
> adequately deal with the security implications of different choices in RPL.
> Promises to the IESG were made, and some of the promised work occured in RFC7416.
> 
> RPL has applicability to home, (multi-tenant)buildings, industrial and
> automatic metering (AMI).  Each have different network security
> characteristics, as well many different parameters for RPL.
> As each one would have to answer the same set of questions, we wrote a
> template, which can you see at:
>   https://datatracker.ietf.org/doc/draft-ietf-roll-applicability-template/
> 
> The results were RFC8036, RFC7733.
> We expected another document for industrial uses, but as that grew, it became
> the 6tisch WG.  and RFC9030 and friends resulted.
> (We didn't expect home/building to wind up in the same document either)
> {Zero-touch onboarding also came out as 6tisch was formed}
> 
> You'll see that the template was not published.
> (You'll see it got a SECDIR review, which was the result of mis-communication!)